#dashboard-div{
  width: fit-content;
  height: max-content;
  border: solid;
  margin:10px;
  border-radius:10px;
  border-color:black;
  background-color:rgb(238, 243, 239);
  // background-color:rgb(236, 236, 222);

}