#dashboard-div{
  width: fit-content;
  height: 80vh;
  background-color:#dcdcdd;
}

#refresh-button{
  color:#EBF2FA;
  float:left;
  font-size: x-small;
  top: 10px;

  &:hover{
    scale:1.1;
  }
}

#refresh-circular-progress{
  float:left;
  margin-left:50px;
}
  
h2{
  display:flex;
  color:#EBF2FA;
  margin: 1em 0 1.2em 4em;
  justify-content: center;
}