#dashboard-container{
  #right-content{
    display:grid;
    justify-items: right;
    line-height: .8;
  
    #welcome{
      text-align: right;
      width:100%;
      color:#EBF2FA;
      margin: 10px auto 0px auto;
    }
    
    #logout-button{
      color:yellow;
      margin:0;
      padding:0;
      width:max-content;
      align-self: right;
      text-decoration: none;
  
      &:hover{
        scale:1.1;
        color:#EBF2FA;
      }
    }
  }
  
  #dashboard-div{
    height: 80vh;
    background-color:#dcdcdd;
  }
  
  #refresh-button{
    color:yellow;
    float:left;
    top: 8vh;
  
    &:hover{
      scale:1.1;
      color:#EBF2FA;
    }
  }
  
  #refresh-circular-progress{
    float:left;
    margin: 50px -100px auto 50px; 
    padding: 0;
  }
    
  #dashboard-header{
    color:#EBF2FA;
    text-align: right;
    justify-content: center;
    line-height:.5;
    padding-bottom:20px;
  }
}


@media only screen and (max-width:800px) {
  #dashboard-container{
    height:100vh;

    #refresh-button{
      top: 1.5vh;
    }
    
    #refresh-circular-progress{
      float:left;
      margin: 10px -100px auto 50px; 
      padding: 0;
    }

    #dashboard-header{
      text-align: center;
    }
  }
}