#Box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  background-color: whitesmoke;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 20px;

  label{
    font-size: x-small;
  }
  
  h4{
    text-align: center;
    margin-bottom:0px;
  }

  p {
    font-size: x-small;
  }

  button {
    float:right;
    color:#427aa1;

    &:hover{
      scale:1.1;
    }
  }

  #modal-new {
    color:#165fb9;
    text-align: center;
    margin-top:0px;
  }
  
  #modal-inprogress {
    color:#bd7735;
    text-align: center;
    margin-top:0px;
  }
  
  #modal-resolved {
    text-align: center;
    color:#1a791a;
    margin-top:0px;
  }

  #modal-description{
    max-height: 300px;
    overflow-y: auto;
    font-size: x-small;
    word-wrap: break-word;
  }

  #modal-subject{
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 1024px) {
  #Box{
    width:70vw;
  }

}