#Box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  background-color: whitesmoke;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 10px;
  
  h4{
    text-align: center;
    margin-bottom:0px;
  }

  p {
    font-size: x-small;
  }

  button {
    float:right;
  }

  #modal-new {
    color:rgb(184, 56, 17);
    text-align: center;
    margin-top:0px;
  }
  
  #modal-inprogress {
    color:blue;
    text-align: center;
    margin-top:0px;
  }
  
  #modal-resolved {
    text-align: center;
    color:green;
    margin-top:0px;
  }

}