#login-form{
  border:solid;
  border-radius:15px;
  height:20vh;
  width:50vw;
  display:flex;
  justify-content: center;
  align-items: flex-end;

  button{ 
    border:solid;
    height:min-content;

  }
}