#ticket-form {
  display:flex;
  background-color:#e5ecf4;
  justify-content: center;
  margin-top:1vh;
  padding: 20px;
  color: #46494c;
  
  #form-content{
    display:grid;
    color: #46494c;

    #user-info{
      display:grid;
      justify-content: center;
      margin-bottom: 15px;
      width:100%;
      
      #name-email{
        display:flex;
        margin-top:20px;
        width:min-content;
  
        #name{
          margin-right:1rem;
        }
      }
    }  
  }

  #receipt-msg{
    font-size:small;
    width:50vw;

    #back-button{
      float:right;
      left:10px;
      top:20px;
      
      &:hover{
        scale:1.1;
      }
    }
  }

  #note{
    color:#427aa1;
    justify-self: end;
    margin: 0px;
    font-size: xx-small;
  }

  h3{
    margin:0px;
    text-align: center;
  }

  label {
    margin-top: 10px;
    font-size: x-small;
    font-weight: 600;
  }
  
  #description-container{
    display:grid;

    #description {
      width: 80vw;
      max-width: 550px;
      min-height: 30vh;
      max-height: 60vh;
      resize: vertical;
    }
  }

  #submit-button{
    display:flex;
    justify-self: flex-end;
    width:min-content;
    margin-top: 10px;
    color:#427aa1;

    &:hover{
      scale:1.1;
    }
  }
}

#welcome{
  color:#e5ecf4;
  margin:5vh 0 0 0;
}

#logout-button{
  color:#e5ecf4;
  padding:0;
  text-decoration: underline;
  
  &:hover{
    scale:1.1;
    color:yellow;
  }
}

@media only screen and (max-width:800px) {
  #welcome{
    margin-top:0;
  }
  
  #user-info{
    justify-content: initial !important;
    height:min-content;

    #name-email{
      min-width: 40vw;
      flex-direction: column;
      flex-wrap: wrap;
    }
    
    .input-fields{
      input{
        min-width:100%;
      }
    }
  }
}