#column-container{
  display:flex;
  min-height:70vh;
  position:relative;
  
  .column{
    border:solid;
    border-color:#2B4570;
    border-width: 0.5px;
    width: 30vw;
    min-width: 100px;
    height:80vh;
    
    .column-title{
      text-align: center;
      background-color: rgb(211, 216, 214);
      margin:auto;
      margin-top:-35px;
      
      .badge-counter{
        left: 1rem;
        bottom:.2rem;
      }
    }
    
    .new{
      color:whitesmoke;
      background-color: #448de5;
    }
    
    .inprogress{
      color:whitesmoke;
      background-color: #e8ab71;
    }
    
    .resolved{
      color:whitesmoke;
      background-color: #96d156;
    }

    .column-content{
      overflow-y: auto;
      height:80vh;
      border-width: 0.1px;
    }
  }
}

@media only screen and (max-width:800px) {
  #column-container{
    height:max-content;
    font-size:smaller;
    
    .column{
      height:100vh;

      .badge-counter{
        display:none;
      }
    }
  }
}