#card-container{
  height: max-content;
  margin: 5px;
  font-size: x-small;
  
  &:hover{
    cursor: pointer;
    scale:1.05;
    box-shadow: -1em 0 .4em rgba(10, 36, 15, 0.346), -1em 0 .4em rgba(10, 36, 15, 0.346);
    
  }

  .card-content{
    background-color: rgb(251, 251, 247);
    padding: 12px;
    height:min-content;

    label{
      margin-top:10px;
    }
  
    p{
      font-size:x-small;
      margin: 0px;
      word-wrap: break-word;
    }
  }

}