#column-container{
  display:flex;
  min-height:75vh;

  .column{
    border:solid;
    border-radius: 15px;
    border-width: 0.5px;
    height:75vh;
    min-width:200px;
    box-sizing: border-box;

    .column-title{
      text-align: center;
      text-decoration:underline;
    }
  }
}
